/* 
    Document   : style.css
    Created on : 27.01.2014., 17.56.20
    Author     : kurs
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

h1{
    font-size: 1.5em;
    font-family: Arial,Helvetica,sans-serif;
}

body{
    font-family: Arial,Helvetica,sans-serif;
        
    
    background-color: coral;
    /*COPYRIGHT D J U R E N D I C*/
}

.footer {
    background-color: white;
    font-size: 0.6em;
    text-align: center;
    width: 80%;
    
    /*centriranje*/
    margin: auto;
    
    
}

.header {
    background-color: buttonface;
}

.navigation {
    background-color: gold;
}

.content {
    background-color: whitesmoke;
}

.wraper {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto;
}

.navigation li {
    display: inline;
    margin: 0 10px;
}