/* 
    Document   : style.css
    Created on : 27.01.2014., 17.56.20
    Author     : kurs
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body{
    background-color: red;
    /*COPYRIGHT D J U R E N D I C*/
}
.maplist{
    font-size: 1.2em;
     width: 350px;
}
.mlistitem:hover{
   font-size: 1.8em;
}
